@import url('https://fonts.googleapis.com/css?family=VT323');

#ResumeContainer {
    /* margin:auto; */
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 68px;
    padding-left: 16%;
}

.PDFDocument {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.PDFPage {
    box-shadow: 0 0 8px rgba(0, 0, 0, .5);
}

.PDFPageOne {
    margin-bottom: 25px;
}



.PDFPage > canvas {
    max-width: 100%;
    height: auto !important;
}

#EffectButton{
}

.button_button3{
    margin-left: 500px;
    background-color: white;
    color: purple;
    border: 2px solid rgb(197, 69, 209);
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    font-family: 'VT323', monospace;
    font-size: 15px;
    border-radius:15px;
    font-size: large;
    position: fixed;

}

.button_button3:hover {
    background-color: rgb(255, 131, 218); /* Green */
    color: white;
    transform: 60%;

  }

.button_text{
    margin-right: 5px;
    margin-left: 5px;
    -webkit-writing-mode:vertical-rl;
    writing-mode:tb-rl;
    writing-mode:vertical-rl;
}
