.site-footer {
    width: 100%;
    padding: 2em 0;
    background-color: plum;
    opacity: 0.8;
    height: 180px;
    margin-bottom: -15px;
    font-size: small;
    width: 100%;
    box-shadow: 4px 6px 6px 6px rgb(204, 146, 238);
}

div.footer-social {
    text-align: center;
    width: 100%;
    color:palegoldenrod
}

.footer-social li {
    display: inline-block;
}

.footer-social a {
    padding-top: 24px;
    margin-left: 12px;
    margin-right: 12px;
}

.identity {
    text-align: center;
    width: 100%;
    margin: 50px auto 0;


}

.identity p {
        color: black;
        font-size: 24px;
}
.identity span {
        font-size: 14px;
    }
